<% entry ||= Entry.new %>

<%= form_with model: entry do |form| %>

<%= form.text_field :title, placeholder: 'Enter your title here...' %>
<%= form.text_area :body, rows: 20 %>
<%= form.submit "Save Entry" %>

<% end %>
