<article>
  <header>
    <h2><%= entry.title %></h2>
  </header>
  <main>
    <%= entry.body %>
  </main>
  <nav>
    <%= link_to 'Edit', edit_entry_path(entry) %>
    <%= link_to 'Delete', entry_path(entry), method: :delete %>
  </nav>
</article>
