@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900i&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #eee;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body > header {
  height: 60px;
  background: #222;
  color: #4CE74C;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1em 2em;

  h1 {
    flex-grow: 1;
  }

  a, a:visited {
    color: white;
    display: block;
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

body > main {
  max-width: 700px;
  margin: 1em auto;
  background: white;
  border-radius: 4px;
  padding: 2em;

  h1 {
    text-align: center;
  }

  form {
    margin: 2em 1em;

    input, textarea {
      display: block;
      width: 100%;
      font-size: 1em;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #eee;
      border-width: 3px;
      transition: all 0.3s ease;
      margin: 0.5em 0;

      &:focus {
        border-color: #ddd;
        outline: none;
      }
    }

    input[type="submit"] {
      width: 200px;
      margin: 1em auto;
      cursor: pointer;

      &:hover, &:active {
        border-color: #ddd;
      }
    }
  }
}

main > article {
  margin: 2em 0;
}

.flash {
  text-align: center;
  padding: 1em;

  &.notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
  }

  &.alert {
    color: #a94442;
    background-color: #f2dede;
  }

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
  }
}
