<!DOCTYPE html>
<html>
  <head>
    <title>CodeDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <%= link_to 'Entries', entries_path %>
      <h1>Your Code Diary</h1>
      <%= link_to 'New Entry', new_entry_path %>
    </header>
    <% if flash[:notice].present? %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert].present? %>
      <p class="flash alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:success].present? %>
      <p class="flash success"><%= flash[:success] %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
